.datacard {
    flex-direction: column;
    justify-content: center;
    flex-basis: 25%;
    border: 3px solid;
    border-radius: 1em;
    margin:3%;
    background-color: #ffdc6a;
    box-shadow: 12px 12px 2px 1px rgb(18, 90, 49);
}

.datacard p{
    font-size: 1.3em;
    
}

.datacard h1{
    text-align: center;
}
.center {
    overflow: hidden;
    display: flex;
    align-self:center;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
}

.nodata{
    display: flex;
    justify-content: center;
}

.info {
  
    display: flex;
    height:50vh;
    justify-content:space-between;
    flex-direction: row;
    margin: 5% 15% 0 20%;
  }
  
  @media screen and (max-width: 992px), screen and (max-height: 800px) {
    .info {
      flex-direction: column;
    }
  }